<h1 id="room" data-room="<%= @room.id %>" data-user="<%= current_user.id %>"><%= @user.name %> さんとのチャット</h1>

<div class="message" style="width: 400px;">
  <% @messages.each do |m| %>
    <% if m.user_id == current_user.id %>
      <p style="text-align: right;"><%= m.body %></p>
    <% else %>
      <p style="text-align: left;"><%= m.body %></p>
    <% end %>
  <% end %>

<div class="errors">
  <%= render "layouts/errors", obj: @message %>
</div>

<%= form_with model: @message, data: {remote: true} do |f| %>
  <%= f.text_field :body %>
  <%= f.hidden_field :room_id %>
  <%= f.submit "送る" %>
<% end %>